<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806884">  <td>20/07/20 17:58:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.call_scenario5()[pri:0, instance:appiumTest.Test2@159f197]">call_scenario5</td> 
  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/07/20 17:58:00</td>   <td>-13133</td> <td>&nbsp;</td><td title="&gt;&gt;Test2.setUp1()[pri:0, instance:appiumTest.Test2@159f197]">&gt;&gt;setUp1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
<tr bgcolor="806884">  <td>20/07/20 17:58:24</td>   <td>11747</td> <td>&nbsp;</td><td title="&lt;&lt;Test2.teardown1()[pri:0, instance:appiumTest.Test2@159f197]">&lt;&lt;teardown1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010931249</td>   <td></td> </tr>
</table>
